<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/restourantglav.css" />
    <link rel="icon" href="../img/icons8-ресторан-16.png" />
    <title>My restourant</title>
  </head>
  <body>
    <div id="divcap">
      <div id="divcapglav">
        <a href="../html/restourantgrav.html" id="capglav">Главная</a>
      </div>
      <div id="divcapmenu">
        <a href="../html/restourantmenu.html" id="capmenu">Меню</a>
      </div>
      <div id="divcapme">
        <a href="../html/restourantme.html" id="capme">О нас</a>
      </div>
      <div id="divcapcontact">
        <a href="../html/restourantcontact.html" id="capcontact">Контакты</a>
      </div>
    </div>

    <div id="divimgrestourant">
      <div id="divtextdostavka">
        <div id="divh1dostavka">
          <h1 id="h1dostavka">Меню ресторана</h1>
        </div>
        <div>
          <div id="divh2doptext">
            <p id="pdoptext">Русская, европейская и японская кухня</p>
          </div>
          <div id="divbuttonmenu">
            <a href="../html/restourantmenu.html" id="abuttonmenu">
              <button id="buttonmenu">
                <p id="pmenutext">Перейти</p>
              </button>
            </a>
          </div>
        </div>
      </div>
      <img
        src="../img/interior-shot-of-a-cafe-with-chairs-near-the-bar-with-wooden-tables.jpg"
        alt="фото ресторана"
        id="imgrestourant"
      />
    </div>

    <div id="divnazvanieprem">
      <p id="pnazvanieprem">Почему выбирают нас</p>
    </div>

    <div id="divfirstprem">
      <div id="divpremone">
        <div id="divones">
          <div id="premone">
            <p id="pone">1</p>
          </div>
        </div>
        <div id="divterrasa" class="premtext">
          <h3 class="h3premtext">Tерраса</h3>
          <p id="pterrasa" class="premtext">
            Проведите время на уютной летней террасе, где сочетаются
            удовольствие от кухни, простора и свежего воздуха
          </p>
        </div>
      </div>

      <div class="divpreim">
        <div class="divothers">
          <div class="divother">
            <p class="pother">2</p>
          </div>
        </div>
        <div id="divparking" class="divothertext">
          <h3 class="h3premtext">Парковка</h3>
          <p id="pparking" class="premtext">
            Оставьте свой автомобиль на нашей бесплатной охраняемой парковке,
            где всегда есть свободное место
          </p>
        </div>
      </div>

      <div class="divpreim">
        <div class="divothers">
          <div class="divother">
            <p class="pother">3</p>
          </div>
        </div>
        <div id="divwifi" class="divothertext">
          <h3 class="h3premtext">Wi-fi</h3>
          <p id="pwifi" class="premtext">
            Оставайтесь в сети, смотрите любимое видео за обедом, делитесь
            фотографиями в социальных сетях
          </p>
        </div>
      </div>
    </div>

    <div id="divsecondprem">
      <div class="divpreim">
        <div class="divothers">
          <div class="divother">
            <p class="pother">4</p>
          </div>
        </div>
        <div id="divdostavka" class="divothertext">
          <h3 class="h3premtext">Доставка</h3>
          <p id="pdostavka" class="premtext">
            Нет времени ходить в ресторан?<br />Закажите доставку любимой еды
            домой или в офис
          </p>
        </div>
      </div>

      <div class="divpreim">
        <div class="divothers">
          <div class="divother">
            <p class="pother">5</p>
          </div>
        </div>
        <div id="divkitchen" class="divothertext">
          <h3 class="h3premtext">Кухня</h3>
          <p id="pkitchen" class="premtext">
            Большой и разнообразный выбор блюд по своему вкусу
          </p>
        </div>
      </div>
    </div>

    <div id="divforma">
      <div id="divtextbron">
        <div id="divtextbrons">
          <p id="textbron">Бронирование</p>
        </div>
        <div id="divtextzakaz">
          <p id="textzakaz">Забронируйте столик</p>
        </div>
      </div>

      <div id="divelform">
        <div id="divfirstsecondform">
          <div id="divfirstelform">
            <input
              type="text"
              placeholder="ФИО"
              id="inputFIO"
              class="elementform"
            />
            <input type="text" placeholder="E-mail" class="elementform"/>
            <input type="text" placeholder="Телефон" class="elementform"/>
          </div>

          <div id="divsecondelform">
            <input type="text" placeholder="Дата" class="elementform" />
            <input type="text" placeholder="Время" class="elementform" />
            <input
              type="number"
              placeholder="Количество гостей"
              class="elementform"
            />
          </div>
        </div>

        <div>
          <textarea
            rows="4"
            cols="50"
            placeholder="Сообщение"
            id="messageelement"
          ></textarea>
        </div>

        <div id="divpersondannie">
          <input type="checkbox" class="checkboxx" id="checkbox1" />
          <label for="checkbox1"></label>
          <label id="labelsoglas"
            >Даю своё согласие на обработку персональных данных</label
          >
        </div>

        <div id="divbuttonbron">
          <button id="buttonbron">
            <p id="pbuttonbron">Забронировать</p>
          </button>
        </div>
      </div>
    </div>

    <div id="div1howfind">
      <div>
        <p id="phowfind">Как нас найти?</p>
      </div>
      <div id="divformandicon">
        <div id="divicons">
          <div id="firsticonsdiv">
            <img
              src="../img/icons8-маркер геолокации.png"
              alt="Иконка геопозиции"
              id="imggeolocation"
            />
            <div id="divtextadress">
              <p class="colororange" id="textadress">
                Адрес:<br/>
                <span id="spanwithadres">
                  СНТ "Дубовый плёс", 105-й дубовый проезд,д 144
                  </span>
              </p>
            </div>
          </div>
          <div class="othericonsdiv">
            <img
            src="../img/icons8-часы-32.png"
            alt="Иконка геопозиции"
            id="imgtime"
          />
          <div class="divothertexts">
            <p class="colororange" class="textothers" id="texttime">
              Время работы:<br/>
              <span id="spanwithtime">
                Понедельник-Пятница:с 09:00 до 18:00<br>
                Суббота: с 10:00 до 17:00<br>
                Воскресенье: выходной
              </span>
            </p>
          </div>
          </div>
          <div class="othericonsdiv">
            <img
            src="../img/icons8-почта-48.png"
            alt="Иконка геопозиции"
            id="imgemail"
          />
          <div class="divothertexts">
            <p class="colororange" class="textothers" id="textemail">
              Электронная почта:<br/>
              <span id="spanwithemail">
                info@example.com
              </span>
            </p>
          </div>
          </div>
          <div class="othericonsdiv">
            <img
            src="../img/icons8-iphone14-про-32.png"
            alt="Иконка геопозиции"
            id="imgphone"
          />
          <div class="divothertexts">
            <p class="colororange" id="textphone">
              Телефон:<br/>
              <span id="spanwithtel">
                +7 (123) 456-78-90
              </span>
            </p>
          </div>
          </div>
        </div>

        <div id="divform">
          <div id="divformfioandemail">
            <input type="text" placeholder="Ваше ФИО" class="elementform"/>
            <input type="text" placeholder="Ваш email" class="elementform"/>
          </div>
          <input type="text" placeholder="Тема обращения" id="elementformtema"/>
          <div>
            <textarea
              rows="4"
              cols="50"
              placeholder="Ваше обращение"
              id="messageelement"
            ></textarea>
          </div>
          <div id="divbuttonotprav">
            <button id="buttonotprav">
              <p id="pbuttonotprav">Отправить</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="newdiv"></div>
    <script>
      
    </script>
  </body>
</html>
